@{
  Layout = "_Layout";
}

@model Factory.Models.Specialty

<h2>Edit</h2>

<h4>Edit this specialty: @Html.DisplayFor(model => model.SpecialtyName)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.SpecialtyId)

  <p>Specialty Name: @Html.EditorFor(model => model.SpecialtyName)</p>

  <input type="submit" value="Save" />
}

<br>
<div id="nav-links">
  <p>@Html.ActionLink("Back to list of specialties", "Index")</p>
</div>