@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h4>Add a new engineer</h4><br>
@using (Html.BeginForm())
{
  <p>Engineer Name: @Html.TextBoxFor(model => model.EngineerName) <input type="submit" value="Add new Engineer"/></p>
}

<p>@Html.ValidationMessageFor(model => model.EngineerName, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>

<br>
<div id="nav-links">
  <p>@Html.ActionLink("Back to List of Engineers", "Index")</p>
</div>